.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ball {
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
}

.ball.jumping {
  animation-name: jump;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}


@keyframes jump {
  0% {
    transform: translateY(0) scaleY(0.8);
  }
  50% {
    transform: translateY(-250px) scaleY(1);
  }
  100% {
    transform: translateY(0) scaleY(0.8);
  }
}

